*{box-sizing: border-box;
}

img{
	max-width: 100%
}
body{
	font-family: Montserrat, sans-serif;
	margin:auto;
	width: 100%; 
	background-repeat: no-repeat;
	background-position: 670px 227px
}

h4 {
	font-size:64px;
	font-family: Montserrat-BlackItalic, sans-serif;
	margin: 0px;
}

a{
	text-decoration:none;
	color: inherit;

}

ul{
	list-style:none;
	margin:0;
	padding:0;
}

nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
	padding-left: 385px;
}

nav ul li{
	
	height: 80px;
	float: left; 
}

nav ul li a {
	font-size:14px; 
	color:white;
	text-decoration:none;
	text-align:center;
	display:block;
	height:57px;
	line-height:80px;
	text-align: center;
	margin: 5px 20px;
	font-family: Montserrat-semiBold, sans-serif;

}

.box{
	background-color: #000;
	width: 100%;
	height: 110px;
	display: block;
}

#logo{
	float: left;
	margin: 20px  0 20px 140px;
	background-image: url(img/Logo RANDOM.png);


}


#iconshead{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}


#idiomas{
	font-family: Montserrat-semiBold, sans-serif;
	color:#fff; 
	float: left;
	margin-left: 100px;

}

#idiomas ul{
	padding-left: 0;
}

#idiomas li{
	
}


.hamburger{
	display: hidden;
	width: 33px;
	height:3.67px;
	background-image: url(img/burger.png) center;
}

.active{
	border-bottom: solid 3px #12F8CD;
}

.fotoclau{
	float: right;
	margin-top: -40px;
	margin-left: -90px; 
}
.fotoclau2{
	display: none;
}
	

#breadcrumbs p{
	font-family: Montserrat-Medium, sans-serif;
	font-size: 9px;
	margin-left: 120px;
	margin-top: 40px;
	display:block;
}

#breadcrumbs p a{
	text-decoration: underline;
	
}



#nombrepagina{
	font-family: Montserrat-ExtraBoldItalic, sans-serif;
	font-size: 50px;
	margin-left: 120px;
	margin-top: 40px;

}

.claudiamarti{
	font-family: Montserrat-BlackItalic, sans-serif;
	font-size: 36px;
	margin-left: 120px;
	margin-top:80px;
	display: block;
    padding-right: 50pc;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
}

#churumbelo{
	margin-left: 120px;
    margin-top: -180px;

}

#pais{
	font-family: Montserrat-Bold, sans-serif;
	font-size: 14px;
	text-decoration: none;
	margin-top: -58px;
    margin-left: 120px;
    font-weight: bold;
}

#profecion{
	font-family: Montserrat-Regular, sans-serif;
	font-size: 24px;
	margin-left: 120px;
}

button{
	background-color:#12F8CD; 
	color:#000;
	padding: 24px 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	font-family: Montserrat-Black, sans-serif; 
	margin-top: 2px;
	margin-left: 120px;
	font-weight: bold;
	border: none;
}

button:hover{
	background-color:#000;
	color:#fff; 
}

.numeros{
	margin-top: 100px;
	
}

.numeros2{

	margin-top: 100px;
	font-family: Montserrat-Black, sans-serif; 
	font-size: 36px;
	list-style-type:none;
	display: block;  
	margin-left: 191px;
    margin-top: -230px;
    word-spacing: 93px;
}

#numeros3{
	margin-top: 100px;
	font-family: Montserrat-regular, sans-serif; 
	font-size: 18px;
	list-style-type:none;
	display: block;  
	margin-left: 136px;
    margin-top: -38px;
    word-spacing: 37px;

}

#cosos{
	margin-top: 90px;
	margin-top: 276px;
    margin-left: 40px;
}

.texto p{
	margin-top: 100px;
	font-family: Montserrat-Regular, sans-serif; 
	font-size: 14px;
	list-style-type:none;
	display: block;  
	margin-left: 136px;
    margin-top: -61px;
    padding-right: 651px;
    line-height: 2;

}

span {
	font-family: Montserrat-Bold, sans-serif;
	font-color:#12F8CD;  

}

.texto2 p{
	margin-top: 100px;
	font-family: Montserrat-Regular, sans-serif; 
	font-size: 14px;
	list-style-type:none;
	display: block;  
	margin-left: 136px;
    margin-top: 31px;
    padding-right: 651px;
    line-height: 2;
}

@media screen and ( max-width: 800px){

}

.comillas{
	float: right;
	margin-top: -486px;
	margin-right: 0px;
	z-index: -2;
}

#quote p{
	font-family: Montserrat-lightItalic, sans-serif; 
	color: #9B9B9B;
	font-size: 48px;
	list-style-type:none;
	display: block; 
	float:right; 
    margin-top: -340px;
    margin-right:-550px ;
    width: 40%;
    line-height: 1;
    z-index: 1;
}


#destacadas{
	float:right;
	margin-top: -355px; 
}

#ilustracionesdestacadas{
	font-family: Montserrat-Bold, sans-serif; 
	font-size: 24px;
	margin-top: 138px;
	margin-left: 262px;
}

#todaslasilustraciones{
	float: left;
}

#textotodas{
	font-family: Montserrat-Bold, sans-serif; 
	font-size: 24px;
	float:right; 
	margin-top: -310px;
    margin-right: 195px;
}

#cosita{
	float:right;
	margin-top: -343px; 
}

.fotocolorclau{
	z-index: 0;
}

footer{
	
	/*background-image: url(../img/LOGOFOOTER.png);*/
}

footer ul{
	float: left;
	color: white;
}

.footercontainer{
	z-index: 1;
	position: absolute;
	margin-top: -90px;
}

.menufooter1 li, .menufooter2 li{
	padding: 10px;
	margin-left: 50px;
	cursor: pointer;
	
}
 

#logofooter{
	float: right;
	padding-left: 250px;

}

#iconosfooter{
	float: right;
	padding-left: 250px;

}

#footerfondo{
	z-index: 0;
	margin-top: -140px;
	margin-bottom: -50px;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {

	.box{
		width: 40%;
		height: 100%;
		position: fixed;
		top: 0;
		margin-left: -500px;
	}
	.box ul{
		float: none;
		margin-left: -200px;
	}

	nav ul li a {
		font-size:18px; 
		height:57px;
		margin-left: -20px;
	}
	.box ul li{
		padding: 0px;
	}

	/*body*/
	#breadcrumbs{
		display: none;
	}
	.fotoclau{
		display: none;
	}
	.fotoclau2{
		display: block;
	}
	.fotoclau2 img{
		width: 100%;
	}






	.texto p, .texto2 p{
		margin-top: -280px;
		font-family: Montserrat-Regular, sans-serif; 
		font-size: 40px;  
	    width: 100%;
	    padding: 10px;
	    padding-right: 0px;
	    line-height: 2;
	    float: none;
	    margin-left:0px;

	}
	#quote p{
		font-size: 40px; 
		float:none; 
	    margin-top:-900px;
	    margin-right:10px;
	    width: 80%;
	    line-height:1.6;
	    text-align: right;

	}
	.comillas{
		float: none;
		margin-top: -50px;
		margin-left: 200px;
		z-index: 0;
		width: 85%;
	}

	#destacadas{
		float:none;
		margin-top:0px; 
	}	
}









	



